---
import type { SidebarEntry } from "@lib/types";
import { Badge, Icon } from "@astrojs/starlight/components";
import { flattenSidebar } from "node_modules/@astrojs/starlight/utils/navigation";
import SidebarRestorePoint from "node_modules/@astrojs/starlight/components/SidebarRestorePoint.astro";

interface Props {
  sublist: SidebarEntry[];
  nested?: boolean;
}

const { sublist, nested } = Astro.props;
---

<ul class:list={{ "top-level": !nested }}>
  {
    sublist.map((entry) => (
      <li>
        {entry.type === "link" ? (
          <a
            href={entry.href}
            aria-current={entry.isCurrent && "page"}
            class:list={[{ large: !nested }, entry.attrs.class]}
          >
            <span>{entry.label}</span>
            {entry.badge && (
              <Badge
                variant={entry.badge.variant}
                class={entry.badge.class}
                text={entry.badge.text}
              />
            )}
          </a>
        ) : (
          // GROUP
          <details
            open={
              flattenSidebar(entry.entries).some((i) => i.isCurrent) ||
              !entry.collapsed
            }
          >
            <summary>
              <span class="group-label">
                <span class="large">{entry.label}</span>
                {entry.badge && (
                  <Badge
                    variant={entry.badge.variant}
                    class={entry.badge.class}
                    text={entry.badge.text}
                  />
                )}
              </span>
              <Icon name="right-caret" class="caret" size="1.25rem" />
            </summary>
            <SidebarRestorePoint />
            <Astro.self sublist={entry.entries} nested />
          </details>
        )}
      </li>
    ))
  }
</ul>

<style>
  @layer starlight.core {
    ul {
      --sl-sidebar-item-padding-inline: 0.5rem;
      list-style: none;
      padding: 0;
    }

    li {
      overflow-wrap: anywhere;
    }

    ul li {
      margin-inline-start: var(--sl-sidebar-item-padding-inline);
      border-inline-start: 1px solid var(--sl-color-hairline-light);
      padding-inline-start: var(--sl-sidebar-item-padding-inline);
    }

    .top-level > li + li {
      margin-top: 0.75rem;
    }
    a {
      display: block;
      border-radius: var(--radius-md);
      text-decoration: none;
      color: var(--sl-color-gray-2);
      padding: 0.3rem var(--sl-sidebar-item-padding-inline);
      line-height: 1.4rem;
    }

    a:hover,
    a:focus {
      color: var(--sl-color-white);
      background-color: var(--sl-color-gray-6);
    }

    [aria-current="page"],
    [aria-current="page"]:hover,
    [aria-current="page"]:focus {
      font-weight: 600;
      color: var(--sl-color-text-invert);
      background-color: var(--sl-color-text-accent) !important;
    }

    @media (min-width: 50rem) {
      .top-level > li + li {
        margin-top: 0.5rem;
      }

      a {
        font-size: var(--sl-text-sm);
      }
    }
  }
</style>
