---
import { Badge, Icon } from "@astrojs/starlight/components";
import SidebarSublist from "@components/starlight/SidebarSublist.astro";
import { type SidebarGroup } from "@lib/types";
import { flattenSidebar } from "node_modules/@astrojs/starlight/utils/navigation";
import { toSentenceCase } from "@lib/utils";

interface Props {
  title?: string;
  entry: SidebarGroup;
}

const { entry, title } = Astro.props;
---

<ul class="top-level">
  { title && 
    <div class="mb-1">
      <span class="topic-name">{title.toUpperCase()}</span>
    </div>
  }
  {
    entry.entries.map((e) =>
      e.type === "link" ? (
        <li>
          <a href={e.href} aria-current={e.isCurrent && "page"}>
            <span>{e.label}</span>
            {e.badge && (
              <Badge
                variant={e.badge.variant}
                class={e.badge.class}
                text={e.badge.text}
              />
            )}
          </a>
        </li>
      ) : (
      // GROUP

      <li>
    <details
      open={flattenSidebar(entry.entries).some(i => i.isCurrent) || !entry.collapsed}
    >
      <summary>
        <Icon name="right-caret" class="caret" size="1.25rem" />
        <span class="group-label">
          <span class="large">{toSentenceCase(e.label)}</span>
        </span>
      </summary>
      <SidebarSublist sublist={e.entries} nested />
    </details>
  </li>
  )
    )
  }
</ul>

<style>
  @layer starlight.core {
    ul {
      --sl-sidebar-item-padding-inline: 0.5rem;
      list-style: none;
      padding: 0;
    }

    li {
      overflow-wrap: anywhere;
    }

    .top-level {
      margin-top: 1rem;
    }

    .top-level > li + li {
      margin-top: 0.75rem;
    }

    .topic-name {
      font-size: var(--text-xs) !important;
      font-weight: 700;
      color: var(--sl-color-gray-4);
    }

    summary {
      display: flex;
      align-items: center;
      gap: .2rem;
      line-height: 1.4;
      cursor: pointer;
      user-select: none;
    }

    summary::marker,
    summary::webkit-details-marker {
      display: none;
    }

    [open] > summary {
      margin-bottom: var(--sl-sidebar-item-padding-inline);
    }

    .caret {
      transition: transform .2s ease-in-out;
      flex-shrink: 0;
    }

    [open] > summary .caret {
      transform: rotateZ(90deg);
    }

    a {
      display: block;
      border-radius: var(--radius-md);
      text-decoration: none;
      color: var(--sl-color-gray-2);
      padding: 0.3rem var(--sl-sidebar-item-padding-inline);
      line-height: 1.4rem;
    }

    a:hover,
    a:focus {
      color: var(--sl-color-white);
      background-color: var(--sl-color-gray-6);
    }

    [aria-current="page"],
    [aria-current="page"]:hover,
    [aria-current="page"]:focus {
      font-weight: 600;
      color: var(--sl-color-text-invert);
      background-color: var(--sl-color-text-accent) !important;
    }

    @media (min-width: 50rem) {
      .top-level > li + li {
        margin-top: 0.5rem;
      }
      .large {
        font-size: var(--text-sm);
      }
      a {
        font-size: var(--sl-text-sm);
      }
    }
  }
</style>
